html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


header,
main,
footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


body {
    border-top: 0.75rem solid maroon;
    border-left: 0.75rem solid maroon;
    border-right: 0.75rem solid cornflowerblue;
    border-bottom: 0.75rem solid cornflowerblue;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-wrap: wrap;
    border-bottom: 0.75rem double cornflowerblue;
}


nav {
    padding-left: 1.5rem;
}


main {
    flex-grow: 1;
}


img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}


a:link {
    text-decoration: none;
}


.button {
    color: cornflowerblue;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 25%;
    background-color: transparent;
    display: inline-block;
}


.button:hover {
    font-weight: bold;
    color: maroon;
    background-color: transparent;
    border-color: maroon;
    transform: scale(0.9);
}


.byline {
    display: flex;
    justify-content: flex-end;
    color: maroon;
    font-weight: bold;
}


.contact-links {
    max-width: 7rem;
    max-height: 7rem;
}


.contact-links:hover {
    transform: scale(0.9);
}


.contacts-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}


.fs-name {
    color: transparent;
    font-size: 3.5rem;
    -webkit-text-stroke: 3px maroon;
}


.headshot {
    max-width: 10rem;
    border-radius: 25%;
    overflow: hidden;
}


.project-titles {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 15rem;
}


.project-img {
    max-width: 15rem;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 25%;
    overflow: hidden;
}


.section-titles {
    color: transparent;
    -webkit-text-stroke: 3px maroon;
    font-size: 3rem;
}


.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}


.wiggle.project-img:hover {
    animation: wiggle 400ms infinite;
    animation-timing-function: linear;
}


@keyframes wiggle {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(3px, 0);
    }
}