/* wire frame TODO: delete later */

/* variables */

/* element type selector */


html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    height: 100vh;
    /* background-image: linear-gradient(cornflowerblue, lightgray); */
    background-image: url("../images/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpg");
}


header,
main,
footer {
    border: 6px solid cornflowerblue;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightgray; */
    font-size: 1.5rem;
    flex-wrap: wrap;
}


nav {
    padding-left: 1.5rem;
}


main {
    flex-grow: 1;
    /* background-color: lightgrey; */
}


img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}


/* classes */


a:link {
    text-decoration: none;
}


.button {
    color: cornflowerblue;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 25%;
    background-color: transparent;
    display: inline-block;
}


.button:hover {
    font-weight: bold;
    color: maroon;
    background-color: transparent;
    border-color: maroon;
    transform: scale(0.9);
}

.byline {
    display: flex;
    justify-content: flex-end;

}

.contact-links {
    max-width: 6rem;
    max-height: 6rem;
}


.contact-links:hover {
    transform: scale(0.9);
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.fs-name {
    color: transparent;
    font-size: 3.5rem;
    -webkit-text-stroke: 3px maroon;
}


.headshot {
    max-width: 10rem;
    border-radius: 25%;
    overflow: hidden;
}


.project {
    max-width: 21rem;
    max-height: 21rem;
    /* margin: 1.5rem; */
    overflow: hidden;
}


.project-titles {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1.5rem;
}


.project-img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    border-radius: 25%;
    overflow: hidden;
}


.section-titles {
    color: transparent;
    -webkit-text-stroke: 3px maroon;
    font-size: 3rem;
}


.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}




/* .mrn-txt {
    color: transparent;
    -webkit-text-stroke: 3px maroon;
} */

.fnt-mrn {
    color: maroon
}

.fnt-cfb {
    color: cornflowerblue;
}

.fnt-bold {
    font-weight: bold;
}